.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box{
    min-height:200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px black;
    padding: 35px;
}