@import '../../../styles.scss';

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    max-height: 680px;
    margin: auto;
    // background-color: white;
    .title{
        margin: 0;
    }
}

.title{
    font-family: 'Lato';
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


// side bar section
.side-bar{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}


.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;

    .list-menu-item{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: #5f5f5f;
        margin-bottom: 5px;
        font-weight: 400;

        &:hover{
            background-color: $light;
        }

        &.is-selected{
            background-color: rgba(157, 204, 157, 0.525); 
            color: $dark-green;
        }


    }
}

// tasks section
.task-list-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task{
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px;

    // when task is completed it becomes unresponsive
    &:not(.complete){
        cursor: pointer;
        transition: trasform 0.2s ease,box-shadow 0.2s ease;
    }
}


// .task:active:not(.complete) {
//     transform: scale(1);

// }

.task:hover:not(.complete) {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.100);

    &.is-selected{
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.100);

    }
}

// is selected is a special class to detect selected tasks
.is-selected{
        background-color: rgba(157, 204, 157, 0.525); 
        color: $dark-green;
    }


.task.complete{
    text-decoration: line-through;
    opacity: 0.8;
    
}

.task-list-container .addtask{
    position:absolute;
    bottom:6%;
    right:5%;

    .button{
        border-radius: 50%;
    }
}

// modify buttons
.task-list-container {

    .title{
        margin-bottom: 10px;
    }

    .modify{
    display: flex;
    position:absolute;
    bottom:6%;
    right:12%;

    .button{
        border-radius: 50%;
        margin-right: 15px;
    }
}
}
.top-bar {
    display: flex;
    .title{
        flex-grow: 1;
    }
}


// for showing dropdown
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
  }  
.dropdown:hover .dropdown-content {
    display: block;
  }