<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edit List
        </h1>

        <!-- Form with butoon -->
        <div class="field has-addons is-grouped">
            <div class="control is-expanded">
                <input #listTitleInput class="input" type="text" placeholder="update list..">
            </div>
            <div class="control">
                <a class="button is-info" (click)="EditList(listTitleInput.value)">
                    Update
                </a>
            </div>
        </div>

        <button routerLink="/" class="button is-success">Cancel</button>
    </div>
</div>